  <%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
    <%= f.label :日付を選択, class: 'lavel' %>
    <%= f.date_field :date, class: 'date-select' %>
    <%= f.label :予定を入力, class: 'lavel' %>
    <%= f.text_field :plan, class: 'text-input' %>
    <%= f.submit '保存' %>
  <% end %>

  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
        <%# ここでは%= %と書くことでその処理は全て表示されるためその週の月と日が入り込んでくれます！ %>
        <%# rubyのコードとして処理を行うが表示はしないときに%%のみで囲む %>
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday]%>
          <%# (曜日)を表示するために<%= day[:wday]を追加 %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
